<% if profile.admins.include? user %>
   <%= link_to "Painel de Controle", "#{top_url}/myprofile/#{profile.identifier}", class:"btn btn-dark btn-sm" %>
<%end%>
<br>
<br>
<div class="text-center" id="copyright" >
<!--  <p>Este tema foi desenvolvido pelo grupo NUSOL - Onda Digital e está disponível no <a href="https://gitlab.com/dev-onda/meninas-digitais-regional">GitLab</a></p>-->
  <p><%= (_('This social network uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/')).html_safe %></p>
</div><!-- end id="copyright" -->
<%= language_chooser(environment) %>
