@import url(../base/style.scss);
@import url(../noosfero/style.css);
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://code.jquery.com/jquery-3.2.1.slim.min.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js");
@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Nunito');



$color-header:#54056c;
$hover-color:rgba(180, 88, 219, 0.88);
$color-bgc:#8e44ad;


#wrap-1{
  font-family: 'Nunito', sans-serif;
  width: 100%;
  #theme-header{
    z-index: 1069;
    position: relative;
    @import 'stylesheets/header';
  }
  #wrap-2{
    padding: 0;
    border: none;
    #site-title, #user, #navigation{
      display: none;
    }
    #content{
      margin: 0;
      padding: 0;
      @import 'stylesheets/blocks';
      @import 'stylesheets/article-toolbar';
      @import 'stylesheets/control-panel';
      @import 'stylesheets/gallery';
      .block{
        padding-top: 0;
      }
      #box-organizer{
        .block{
          padding-top: 0;
          min-height: 50px;
        }
      }
    }
    .boxes{
      width: 100%;
    }
  }
}
#footer{
  @import 'stylesheets/footer';
}


#chat-window {
  background: white;
}

#buddy-list #environment-logo {
  background-color: #BBB;
}

/*blocos HTML adicionais*/
section{
  .jumbotron{
    border-radius: 0;
//    background-image: url('https://scontent.fssa15-1.fna.fbcdn.net/v/t1.0-9/37488111_401455993681423_34178580942422016_n.png?_nc_cat=109&_nc_ht=scontent.fssa15-1.fna&oh=ad82d04d5f397718fa1e909e8228b136&oe=5CC0F43F');
    background-size: cover;
    background-attachment: fixed;
  }
}
.container{
  .block-icons{
    position: relative;
    top: -110px;
  }
}
/* Members list*/

.profile-members-tabs-container .ui-corner-all {
  padding-bottom: 10px;
}

#content {
  #members-tab ul.profile-list-members, #admins-tab ul.profile-list-admins {
    margin: 10px auto;
  }
}

.common-profile-list-block .profile-image {
  height: auto;
  img {
    max-height: 80px;
    max-width: 80px;
  }
}

.box-1 .common-profile-list-block span {
  width: 84px;
  &.fn {
    margin-top: 5px;
    height: 25px;
    width: 80px;
  }
}

.action-profile-send_mail .send-mail-recipients {
  color: #888888;
  padding: 10px;
  width: 475px;
  line-height: 15px;
}

.image-gallery-item{
	width: 35%;

}
.image-gallery-item:hover{
	opacity: 0.5;
    transform: scale(0.8);
    transition:all 0.3s ease;

}
