.blocks{
  .highlights-block{
    @import 'highlights';
  }
  .main-content{
    border: none;
    box-shadow: none;
    .blog-post{
      background: url(none);
      .blog-post-inner{
        border: 1px solid #aaa;
        border-radius: 8px;
        margin: 0 3%;
        padding: 1%;
      }
    }
    #article{
      top: -25px;
      #article-parent{
        display: none;
      }
      #article-toolbar{
        background-color: #fff;
        #article-header{
          h1{
            color: $color-header;
            text-align: center;
            border: none;
            font-size: 26pt;
          }
          span.publishing-info{
              text-align: center;
              color: #fff;
              padding-top: 2%;
          }
        }
      }
      .article-body{
        padding: 2% 4%;
      }
    }
  }
}
