


&{
//  background: $color-header;
  width: 100%;
  color:#54056c;
  height: auto;
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  p,h4{
    color: #54056c;
  }
  h4{
   font-size: 14pt;
  }
  a{
    color: #54056c;
    text-decoration: none;
    &:hover{
      color: $hover-color;
    }
  }
  p{
    font-size: 10pt;
  }
  ul{
    li{
      text-decoration: none;
      list-style: none;
      color:#fff;
    }
  }
  #copyright{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    p,a{
      color: #54056c;
    }
  }
  #theme-footer{
    a:hover{
      text-decoration: none;
    }
    #language-chooser{
      color: #54056c;
    }
  }

}
