&{
  .image-gallery{
    ul{
      width: 100%;
      display: flex;
      .image-gallery-item{
	    width: 22%;
        &:hover{
          opacity: 0.5;
          transform: scale(0.8);
          transition:all 0.3s ease;
        }
      }
    }
  }
}