&{
  background-color: $color-header;
  nav{
    #title-top{
      font-size: 24pt;
      line-height: 0px;
      padding-bottom: 1%;
      img{
        width: 10%;
      }
      span{
        font-size: 15pt;
        margin-left: 16%;
      }
    }
  }
}
